/* Importing the base font-style for the website "inter" */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* 
    Overwriting default base style
    setting basic, general styles for some elements
*/
html {
    scroll-behavior: smooth;
}
html, body, nav, header, main, section, footer {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #F5EEE6;
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    font-family: var(--site-font);
}
address {
    font-style: normal;
}
:root {
    --site-font: 'Inter', sans-serif;
    --white: #FFFFFF;
    --black: #000000;
}
h2 {
    color: var(--black);
    font-family: var(--site-font);
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    margin-bottom: 16px;
}
p {
    font-family: var(--site-font);
    font-size: 17.5px;
    letter-spacing: 1%;
    line-height: 1.9;
    text-align: center;
    font-weight: 500;
    color: var(--black);
}
button {
    background: transparent;
    border: none;
    outline: none;
}