section#carousel {
    height: 45vw;
    position: relative;
    display: flex;
    justify-content: center;
    background: #000;
}
section#carousel div.slide {
    animation: imageAnimation 24s linear infinite 0s;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    z-index: 0;
    color: transparent;
    backface-visibility: hidden;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
section#carousel div#slide1 {
    background-image: url('../images/hero-bg/bg-1.png');
}
section#carousel div#slide2 {
    animation-delay: 5s;
    background-image: url('../images/hero-bg/bg-2.png');
}
section#carousel div#slide3 {
    animation-delay: 10s;
    background-image: url('../images/hero-bg/bg-3.png');
}
section#carousel div#slide4 {
    animation-delay: 15s;
    background-image: url('../images/hero-bg/bg-4.png');
}
@keyframes imageAnimation {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
    }
    8% {
      animation-timing-function: ease-out;
      opacity: 1;
    }
    20% {
      opacity: 1
    }
    25% {
      opacity: 0
    }
    100% {
      opacity: 0
    }
  }
section#carousel > div#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 98;
}
section#carousel > h1 {
    /* animation: imageAnimation 24s linear infinite 0s; */
    position: absolute;
    font-family: var(--site-font);
    color: var(--white);
    font-size: 6.3vw;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 2px;
    z-index: 99;
    top: 30%;
    color: #FFAA33;
    width: 65vw;
}
@media screen and (max-width: 768px) {
    header {
        height: calc(50vw + 80px);
    }
    section#carousel {
        height: calc(50vw + 20px);
    }
    @media screen and (max-width:650px) {
        section#carousel {
            height: calc(45vw + 10px);
        }
    }
}





/* animations */
/* span#cursor {
    animation: cursorBlink 1s step-end infinite;
}
/* ANIMATION 
@keyframes cursorBlink {
    0%, 100% {
        color: transparent;
    }
    50% {
        color: white;
    }
} */


h1 {
    animation: zoom-h1 5s ease-in-out;
    animation-fill-mode: both;
}
@keyframes zoom-h1 {
    0%, 50% {
        font-size: 0vw;
        width: 3vw;
        opacity: 0;
    }
    90% {
        font-size: 7.8vw;
        width: 80vw;
        opacity: 1;
    }
    100% {
        font-size: 7vw;
        width: 68vw;
        opacity: 1;
    }
}
.s-active {
    animation: zoom-bg 3s ease-in;
    animation-delay: 4.5s;
    animation-fill-mode: both;
}
@keyframes zoom-bg {
    0% {
        background-size: 100%;
    }
    100% {
        background-size: 120%;
    }
}
@keyframes disappear {
    from {
        opacity: 1;
        z-index: 997;
    }
    to {
        opacity: 0;
        z-index: 994;
    }
}  