/* styles for the nav bar */
nav {
    width: 100%;
  }
  header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
  }
  header > nav {
    position: relative;
    display: flex;
    flex-flow: row no-wrap;
    justify-content: flex-end;
    padding: 30px;
  }
  .logo {
    font-family: var(--logo-font);
  }
  header .logo {
    position: absolute;
    font-size: 30px;
    left: 30px;
    top: 20px;
  }
  .logo > a {
    text-decoration: none;
    color: var(--gold);
  }
  header > nav > div {
    margin-top: 30px;
    position: relative;
    width: 148px;
    height: 0px;
    transition: 1s ease-in-out;
  }
  header > nav > div:hover {
    height: 178px;
  }
  header > nav > div #menu {
    position: absolute;
    width: 40px;
    height: 32px;
    top: -32px;
    right: 0;
    cursor: pointer;
    background: transparent;
    display: flex;
    align-items: flex-start;
  }
  header > nav > div #menu > svg {
    width: 100%;
    height: 30px;
    fill: var(--gold);
  }
  header > nav > div ul {
    list-style: none;
    display: flex;
    background: rgba(0,0,0,.1);
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    height: 0px;
    overflow: hidden;
    transition: 1s ease-in-out;
  }
  header > nav > div:hover ul {
    height: 178px;  
  }
  header > nav > div ul li {
    text-align: center;
  }
  header > nav > div ul a {
    font-family: var(--poppins);
    font-weight: 400;
    color: var(--white);
    text-decoration: none;
  }
  header > nav > div ul a:hover {
    text-decoration: underline;
  }
  header > nav > div ul a.active {
    font-weight: 500;
    text-decoration: underline;
  }
  /* responsive design for bigger screens */
  @media screen and (min-width: 700px) {
    header {
      padding-bottom: 50px;
    }
    header > nav {
      padding: 50px;
    }
    header .logo {
      position: absolute;
      font-size: 40px;
      left: 50px;
      top: 30px;
    }
    header > nav > div, header > nav > div:hover {
      margin-top: 0px;
      position: relative;
      width: 450px;
      height: 25px;
      transition: none;
    }
    header > nav > div #menu {
      display: none;
    }
    header > nav > div ul, header > nav > div:hover ul {
      width: 100%;
      background: transparent;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      transition: none;
      height: 25px; 
    }
    header > nav > div ul a {
      font-family: var(--poppins);
      font-weight: 400;
      color: var(--white);
      text-decoration: none;
    }
  }
