/* Importing the base font-style for the website "inter" */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* 
    Overwriting default base style
    setting basic, general styles for some elements
*/
html {
    scroll-behavior: smooth;
}
html, body, nav, header, main, section, footer {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #F5EEE6;
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    font-family: var(--site-font);
}
:root {
    --site-font: 'Inter', sans-serif;
    --white: #FFFFFF;
    --black: #000000;
}

/* all other styles go below here */

/* HEADER STYLES */
header {
    border: 1px solid red;
    height: calc(100vh - 20px);
}
/* HEADER - NAVBAR */
nav {
    position: sticky;
    top: 0px;
    background: #484848;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 70px;
}
nav > a > img {
    width: auto;
    height: 55px;
}
nav > ul {
    list-style: none;
    display: flex;
    gap: 30px;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 460px;
    height: 100%;
}
nav > ul > li {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: relative;
}
nav > ul hr.nav-bottom-bar {
    display: none;
    width: 100%;
    border: 2px solid #E7A704;
    position: absolute;
    bottom: 0;
}
nav > ul > li.nav-active > hr.nav-bottom-bar {
    display: block;
}
nav > ul a {
    color: var(--white);
    font-weight: 500;
    font-size: 15.5px;
    text-transform: uppercase;
    padding: 0 10px;
}
nav > ul > li.nav-active > a, nav > ul > li > a:hover {
    color: #E7A704;
}
/* tab/ipad/medium screen width */
@media screen and (max-width:768px) {
    nav {
        height: 60px;
    }
    nav > a > img {
        width: auto;
        height: 47px;
    }
    nav > ul {
        gap: 20px;
        width: 380px;
        height: 100%;
    }
    nav > ul a {
        font-size: 14px;
        padding: 0 6px;
    }
    @media screen and (max-width:650px) {
        nav {
            height: 60px;
        }
        nav > ul {
            display: none;
        }
    }
}
/* HEADER - CAROUSEL SECTION */
section#carousel {
    height: calc(100% - 70px);
    border: 1px solid blue;
    background: url(./images/editing/bg-4.png) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
}
#carousel-stat {
    position: absolute;
    bottom: 0;
    border: 1px solid white;
    width: 100px;
}
#carousel-stat > button {
    border: none;
    outline: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
h2 {
    color: var(--black);
    font-family: var(--site-font);
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    margin-bottom: 16px;
}
p {
    font-family: var(--site-font);
    font-size: 17.5px;
    letter-spacing: 1%;
    line-height: 1.9;
    text-align: center;
    font-weight: 500;
    color: var(--black);
}
/* MAIN - MISSION SECTION */
section#mission {
    padding: 5.5% 12%;
}
/* tab/ipad/medium screen width */
@media screen and (max-width:768px) {
    section#mission {
        padding: 8% 14%;
    }
    /* mobile phone/small screen width */
    @media screen and (max-width:425px) {
        section#mission {
            padding: 13% 6%;
        }
    }
}
/* MAIN - ABOUT SECTION */
section#about {
    background: #F5F5F5;
    padding: 0 10% 0 11.3%;
    height: calc(100vh - 72px);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 7.8%;
}
section#about img {
    width: 375px;
    height: auto;
}
section#about h2, section#about p {
    text-align: left;
}
@media screen and (max-width:1150px) {
    section#about {
        padding: 0 7.5% 0 8.5%;
        gap: 7%;
    }
    @media screen and (max-width:1001px) {
        p {
            font-size: 17px;
            line-height: 1.7;
        }
        section#about {
            padding: 0 5.8% 0 6.8%;
            gap: 6%;
        }
        section#about img {
            width: 370px;
        }
        @media screen and (max-width:865px) {
            p {
                font-size: 15.7px;
                line-height: 1.6;
            }
            section#about {
                padding: 0 5.5% 0 6.5%;
                gap: 6%;
            }
            section#about img {
                width: 350px;
            }
            /* tab/ipad/medium screen width */
            @media screen and (max-width:768px) {
                p {
                    font-size: 16px;
                    line-height: 1.8;
                }
                section#about {
                    padding: 0 6.4%;
                    gap: 9%;
                    flex-flow: column nowrap;
                    justify-content: center;
                    height: 125vh;
                }
                section#about h2 {
                    text-align: center;
                }
                section#about p {
                    text-align: center;
                }
                section#about > article {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: center;
                    padding: 0 9%;
                }
                /* mobile phone/small screen width */
                @media screen and (max-width:425px) {
                    h2 {
                        font-size: 22px;
                    }
                    p {
                        font-size: 15px;
                        line-height: 1.7;
                    }
                    section#about {
                        padding: 0;
                        gap: 7%;
                        height: 115vh;
                    }
                    section#about img {
                        width: 84%;
                    }
                }
            }
        }
    }
}
/* MAIN - OUR SERVICES SECTION */
section#our-services {
    padding: 6.8% 11% 8% 11%;
}
section#our-services > div {
    display: flex;
    flex-flow: row wrap;
    column-gap: 8%;
    margin: 4% 0 1% 0;
    justify-content: space-between;
}
section#our-services > div > figure {
    width: calc(84% / 3);
    position: relative;
    display: flex;
    justify-content: center;
}
section#our-services > div > figure:nth-child(1),
section#our-services > div > figure:nth-child(2),
section#our-services > div > figure:nth-child(3) {
    margin-bottom: 6.5%;
}
section#our-services > div > figure > img {
    width: 100%;
}
section#our-services > div > figure > figcaption {
    position: absolute;
    font-family: var(--site-font);
    font-size: 13.5px;
    font-weight: 400;
    bottom: 20px;
}
section#our-services > a {
    float: right;
    font-size: 12px;
    font-weight: 400;
    color: #9A7109;
    text-decoration: underline;
}
/* tab/ipad/medium screen width */
@media screen and (max-width:768px) {
    section#our-services {
        padding: 9% 14% 13% 14%;
    }
    section#our-services > div {
        display: flex;
        flex-flow: row wrap;
        column-gap: 7%;
        margin: 7% 0 2.5% 0;
        justify-content: space-between;
    }
    section#our-services > div > figure {
        width: calc(84% / 2);
    }
    section#our-services > div > figure:nth-child(1),
    section#our-services > div > figure:nth-child(2),
    section#our-services > div > figure:nth-child(3),
    section#our-services > div > figure:nth-child(4) {
        margin-bottom: 10%;
    }
    /* mobile phone/small screen width */
    @media screen and (max-width:425px) {
        section#our-services {
            padding: 16% 14% 22% 14%;
        }
        section#our-services > div {
            flex-flow: column wrap;
            column-gap: 0;
            margin: 10% 0 5% 0;
            align-items: center;
        }
        section#our-services > div > figure {
            width: 85%;
        }
        section#our-services > div > figure:nth-child(5) {
            margin-bottom: 10%;
        }
    }
}
/* MAIN - ABOUT SECTION */
section#partners {
    background: #F5F5F5;
    padding: 6% 3%;
    display: none;
    flex-flow: row nowrap;
}
footer > section {
    background: #484848;
    color: var(--white);
}
/* Service page specific style go here */
/* mobile/small screens */

/* medium screens */

/* large screens */
